<!--送信ボタン-->
<% if user_signed_in? %>
  <%= form_with(model: [@post, @comment], local: true) do |f| %>
    <div class="form-comment">
      <%= f.text_area :content, class: "form-control", rows: 3 %>
        <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    </div>
<% end %>