<div class="user">
  <div class="row">
    <div class="col-sm-12">
      <div class="wrapper">
        <div class="page-header clear-filter page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image:url('../assets/img/bg5.jpg');">
      </div>

        <div class="container">
          <div class="photo-container">
            <%= image_tag "book.png", size: 12*12, class: "image_icon" %>
          </div>

          <h3 class="title">Ryan Scheinder</h3>
            <p class="category">アジング、フカセ、カゴ釣り</p>

          <div class="content">
            <div class="social-description">
              <h2>26</h2>
              <p>Contribution</p>
            </div>
            <div class="social-description">
              <h2>26</h2>
              <p>Comments</p>
            </div>
            <div class="social-description">
              <h2>48</h2>
              <p>Likes</p>
            </div>
          </div>
        </div>
    </div>

      <div class="section">
        <div class="container">
          <div class="card">
            <h3 class="intro">自己紹介</h3>
              <h5 class="description">はじめまして！主に千葉や横浜を中心に釣りをしてます。好きな釣りはフカセ、カゴ釣り、アジングです。特に千葉では上物から回遊魚まで幅広い魚を狙って、年中釣りしてます。よろしくお願いします！！</h5>
          </div>

            <h4 class="post-title text-center">投稿一覧</h4>
              <div class="album py-5 bg-light">
                <%= render 'users/posts' %>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

