<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <%= link_to post do %>
            <%= image_tag "4268892_s.jpg", class: "card-image" %>
              <div class="card-body">
                <p class="card-text"><%= post.title %></p>
                <div class="d-flex justify-content-end align-items-end">
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>