<div class="post-show">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h1 class="header-title">this is title</h1>
            <p class="header-content">this is content</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class=" card-text">this is main content</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>