.reply-area {

  /* comment reply area */
  .vertical-line-left {
    //border-left: thick solid #CD5C5C;
  }

  .square {
    //background-color: #F9F8FA;
    margin-right: 10%;
    margin-left: 10%
  }

  
  .media {
    //padding-top: 1%;
    padding-left: 0;
    margin-right: 5%;
  }

  .media-body {
    //padding-left: 130px;
    line-height: 25px;
    margin-top: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
  }

  .bd-placeholder-img {
    border-radius: 50%;
    margin-top: 8px;
    margin-left: auto;
  }

  .border-center {
    width: 80%;
    //margin-left: 10%;
    margin-top: 1%;
    padding-bottom: 1%;
  }

  /* reply button */

  .reply-form {
    padding-bottom: 6%;
  }

  .form-comment-reply {
    width: 70%;
    margin-left: auto;
    margin-right: 11%;
  }

  .form-control {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .btn {
    margin-left: auto;
  }

  /* 折り返し */
  .detail {
    font-size: 30px;
  }   
}