// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
  margin-top: 7rem;
}

.form-title {
  padding-top: 1rem;
}

.form-content {
  padding-top: 1rem;
}

.submit {
  padding-top: 2rem;
  margin-bottom: 10rem;
}

