/* ボタンの位置を変更 */
.fixed-bottom {
  position: fixed;
  //z-index: 1;
  top: 0;
  right: 38%;
  bottom: 0;
  //left: 30%;
  //width: 100vw;
  //z-index: 100;
  //align-content: center;
  //display: flex;
  //overflow: hidden scroll;
}

.btn-post {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}


.btn-post:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.row {
  background-color: #ffffffe6;
  margin-left: 95px;
  margin-right: 95px;
  //padding-left: 50px;
  //padding-right: 50px;
}

.col-md-4 {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

/* カード全体 */
.card {
  background-color: #EFEFEF;
  border: none;
  border-radius: 2%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* カードのサイズ */

.card-wrapper {
  height: 7rem;
}

/* 画像のスタイル */

.card-image {
  width: 100%;
  height: 7rem;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23%;
  right: 37%;
  border-radius: 50%;
  border: 5px solid #EFEFEF
}

/* titleのスタイル */

.card-text {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  margin-top: 1rem;
}

/* ユーザー名 */
.d-flex {
  position: absolute;
  top: 90%;
  left: 70%;
}

/* 以下テンプレートtopのcss */

:root {
  --jumbotron-padding-y: 6rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  background:url(4217535_s.jpg) center no-repeat;
  background-size: cover;
  
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}


