.user-edit {
  background-color: #f8f9fa; 

  .container {
    //margin-top: 5rem;
    //background-color: #f8f9fa; 
  }

  .row {
    background-color: #f8f9fa; 
  }

  .title {
    padding-bottom: 2rem;
    text-align: center;
  }

  .avatar-image {
    text-align: center;
  }

  .icon-success {
    border-radius: 50%;
    object-fit: cover;
    width: 140px;
    height: 140px;
    //background-color: #ccc;
    //border: 1px solid #ccc;
  }

  .icon-default {
    border-radius: 50%;
    object-fit: cover;
    width: 140px;
    height: 140px;
  }

  .image-field {
    padding-top: 2%;
    padding-bottom: 7%;
    //padding-left: 30%;
    //padding-right: 30%;
  }

  .form-card {
    width: 100%;
    background-color: #ffffffe6; 
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .form-group {
    //padding-top: 1rem;
  }

  .border-line {
    padding-top: 1rem;
  } 

  .form-content {
    padding-top: 1rem;
    margin-left: 5em;
    margin-right: 5em;
  }

  .btn {
    width: 100%;
  }
}