user-edit {
  //background-color: #f8f9fa; 

  .form-title {
    padding-top: 1rem;
    margin-left: 5em;
    margin-right: 5em;
  } 

  .form-content {
    padding-top: 1rem;
    margin-left: 5em;
    margin-right: 5em;
  }
}