// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-form {
  background-color: #f8f9fa;

  .row {
    background-color: #f8f9fa;
  }

  .title {
    margin-top: 1rem;
    text-align: left;
  }

  .form-card {
    width: 100%;
    background-color: #ffffffe6; 
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
  
  .form-title {
    padding-top: 1rem;
  }
  
  .form-content {
    padding-top: 1rem;
  }
  
  .submit {
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}