.post-show {
  background-color: #f8f9fa;

  .col-sm-12 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    //background-color: #black;
  }

  /* card body */

  .post-card {
    align-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-bottom: 5rem;
    background-color: #EFEFEF;
  }

  /* card header */

  .card-header {
    //background-color: #f8f9fa;
    //min-height: 22rem;
    height: 23rem;
    background-color: #6ba1ff;
    //background-color: #5DADE2;
    //background-color: #5499C7;
    //background-color: #45B39D; -> green ish
    width: 100%;
    //background-image: url("4462565_s.jpg");
    //background-size: cover;
    //opacity: 0.5;
  }

  .header-title {
    text-align: center;
    color: whitesmoke;
    padding-top: 13%;
  }

  .header-content {
    text-align: center;
    color: whitesmoke;
    padding-bottom: 10%;
  }

  .d-flex {
    position: absolute;
    top: 20rem;
    left: 2rem;
  }

  div p {
    display: inline-block;
  }

  .image_icon {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
  }

  .user-name {
    //padding-left: 50px;
    //padding-top: auto;
    //margin-bottom: 0;
    //position: absolute;
    //top: 12.7rem;
    //left: 4rem;
    font-size: 15px;
  }



  .like {
    padding-left: auto;
    //vertical-align: middle;
    //margin-bottom: 0;
  }

  .fa-thumbs-up {
    border-radius: 50%;
    padding: 5px;
    //margin: 1px;
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;
    background-color: white;
    vertical-align: middle;
  }

  .like-inactive {
    background:lightgray;
    color: red;
  }

  .count-like {
    padding-left: 30rem;
  }

  .comment-box {
    margin-top: 3rem;
    margin-left: 10%;
  }

  .border-first {
    width: 80%;
    //margin-left: 10%;
    margin-top: 1%;
    padding-bottom: 1%;
  }

  .border-center {
    width: 80%;
    //margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  /* comment */

  .square {
    //background-color: #F9F8FA;
    margin-right: 5%;
    margin-left: 5%
  }

  .media {
    margin-left: 5%;
    margin-right: 10%;
  }

  .media-body {
    margin-top: auto;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .bd-placeholder-img {
    border-radius: 50%;
    margin-top: 8px;
    margin-left: auto;
  }

  .accordion-reply {
    //position: relative;  /* 追加 */
    //text-align: left;
    padding-left: 90px;
    line-height: 50px;
    cursor: pointer;
    color: #3ea6ff;
  }

  .accordion-reply-form {
    padding-left: 170px;
    color: #000000;
    
    //line-height: 50px;
    //cursor: pointer;
  }

  /* comment form */

  .form-comment {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .icon-success {
    border-radius: 50%;
    object-fit: cover;
    width: 65px;
    height: 65px;
  }

  .icon-default {
    border-radius: 50%;
    object-fit: cover;
    width: 65px;
    height: 65px;
  }

  .btn {
    margin-left: auto;
  }

  .fa-comments {
    padding-right: 3px;
  }
}