.post-show {
  background-color: #f8f9fa;

  .container {
    background-color: #f8f9fa;
  }

  .row {
    //ackground-color: #121212;
    //margin-top: 60px;
  }

  .col-sm-12 {
    margin-top: 5rem;
    background-color: #black;
  }

  .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .card-header {
    background-color: #black;
  }

  .header-title {
    text-align: center;
  }

  .header-content {
    text-align: center;
  }
  
  .card-body {
    //background-color: black;
  }
  
  .card-title {
    text-align: center;
  }
  
  .card-text {
    text-align: center;
  }
}