<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/top">Tsurimate</a>
      <button class="navbar-toggler" type="button" 
      data-toggle="collapse" data-target="#navbarResponsive" 
      aria-controls="navbarResponsive" aria-expanded="false" 
      aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#">Log Out</a>
            </li>
            <li class="img-icon" href="#">
              <%= image_tag "book.png", alt: "Test icon", 
                        id: "assets", class: "image" %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Log In</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</nav>